.dashboard-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

 /* Date Filter Section */
 .filter-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: gray .1px dashed;
  gap: 1rem;

  .mat-form-field {
    flex: 1 1 200px;
    min-width: 200px;
  }

  button {
    flex: 1 1 200px;
    max-width: 200px;
    margin-top: 1rem;
  }
}

  .summary-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    mat-card {
      text-align: center;
      mat-card-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
      mat-card-content h2 {
        font-size: 2rem;
        color: #28427e;
      }
    }
  }

  .charts-section {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .chart-container {
      text-align: center;
    }

    ngx-charts-pie-chart,
    ngx-charts-line-chart {
      margin: auto;
    }
  }

  @media (max-width: 768px) {
    .summary-cards {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .charts-section {
      .chart-container {
        h3 {
          font-size: 1.1rem;
        }
      }
    }
  }
}
