<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- Step 1: Basic Information -->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Step 1: Basic Information</ng-template>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter product name" formControlName="productName" required>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Code</mat-label>
        <input matInput placeholder="Enter product code" formControlName="productCode" required>

      </mat-form-field>

      <div>
        <button mat-button color="warn" (click)="onCancel(true)">Cancel</button>
        <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>

      </div>
    </form>
  </mat-step>

  <!-- Step 2: Price & Brand Information -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Step 2: Price & Brand Information</ng-template>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Brand</mat-label>
        <input matInput placeholder="Enter brand name" formControlName="brand" required>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Enter product price" formControlName="price" required>
      </mat-form-field>
      <div>
        <button mat-button color="warn" (click)="onCancel(true)">Cancel</button>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">Next</button>

      </div>
    </form>
  </mat-step>

  <!-- Step 3: Description -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Step 3: Description</ng-template>
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Description</mat-label>
         <textarea matInput placeholder="Enter product description" formControlName="description" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button color="warn" (click)="onCancel(true)">Cancel</button>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!thirdFormGroup.valid">Next</button>

      </div>
    </form>
  </mat-step>

  <!-- Step 4: Review and Submit -->
  <mat-step>
    <ng-template matStepLabel>Step 4: Review and Submit</ng-template>
    <p><strong>Name:</strong> {{ firstFormGroup.get('productName')?.value }}</p>
    <p><strong>Code:</strong> {{ firstFormGroup.get('productCode')?.value }}</p>
    <p><strong>Brand:</strong> {{ secondFormGroup.get('brand')?.value }}</p>
    <p><strong>Price:</strong> {{ secondFormGroup.get('price')?.value }}</p>
    <p><strong>Description:</strong> {{ thirdFormGroup.get('description')?.value }}</p>
    <div>
      <button mat-button color="warn" (click)="onCancel(true)">Cancel</button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onSubmit()">Submit</button>

    </div>
  </mat-step>
</mat-horizontal-stepper>
